 
 
  <button style="position: left; top: 50%;left: 0%;">home</button>
  <button style="position: left; top: 50%;left: 0%;">logout</button>
   
	<div class="add-emp" style="width:300px; margin:auto; margin-top:70px; border:1px solid red; padding:25px;">
		<h1>Add an Employee</h1>
		<form ngsubmit="onSubmit()"  #AddEmployee="ngForm">
			<label for="Emp name">Enter Emp Name</label>
				<input type="text" placeholder="Name" name="empName" id="empName" required>
				<span id="Message" style="color:red"></span>
				<br><br>
			<label>Enter date of joining</label>
				<input type="date" placeholder="DOJ" name="doj" id="doj">
				<br><br>
			<label>Enter basic Pay</label>
				<input type="text" placeholder="Basic Pay" name="basicPay" id="bp">
				<span id="Message2" style="color:red"></span>
				<br><br>
			<button type="submit">Add employee</button>
		</form>
	</div>
 