<div class="body">
  <div style="color: white" align="right">
    <h4 align="justify" style="color: white">
      <br />
      <a style="color: green" href="/employeehome"><button>Home</button> </a>
      <input type="button" value="Back" onCLick="history.back()" />
    </h4>
    <h4 align="right">
      <br />
      <a style="color: green" href="/userLogin"><button>Logout</button> </a>
    </h4>
  </div>

  <div align="center">
    <h1>Employee List</h1>

    <table border="1">
      <thead>
			<th>Id</th>
			<th>Name</th>
			<th>DOJ</th>
			<th>Basic Pay</th>
			<th>DA</th>
			<th>HRA</th>
			<th>Gross</th>
			<th>Tax</th>
			<th>Net</th>
        <tr></tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of Employees">
          <td>{{employee.id}}</td>
					<td>{{employee.name}}</td>
					<td>{{employee.dateOfJoining}}</td>
					<td>{{employee.basicpay}</td>
					<td>{{employee.da}}</td>
					<td>{{employee.hra}}</td>
					<td>{{employee.gross}}</td>
					<td>{{employee.tax}}</td>
					<td>{{employee.net}}</td>

          
        </tr>
      </tbody>
    </table>
  </div>
</div>
