<div class="body">
  <div style="color: white" align="right">
    <h4 align="right">
      <br />
      <a  href="/userLogin"><button class="loginBtn"><b>SignOff</b></button> </a>
    </h4>
  </div>
<div class="container" align="center">
        <!-- Shows all employee list -->
        <input
          class="anchor2"
          type="button"
          value="Find All Employee "
          (click)="allemployee()"
        />
        <br>
        <br>
        <!-- Shows employee with particular id -->
        <input
          class="anchor2"
          type="button"
          value="Find Employee by Id"
          (click)="employeeid()"
        />
        <br>
        <div *ngIf="employeeidstatus" id="au">
          <form #form2="ngForm" (ngSubmit)="showEmpById(form2)">
            <label for="id"></label>

            <input
              name="id"
              required
              [(ngModel)]="employee.id"
              type="number"
              id="id "
            />

            <input style="margin-left: 10px;" class="button" type="Submit" value="Search" />
          </form>
        </div>
        <br>
        
        <br>
        <!-- Add Employee-->
        <a routerLink="/employeeRegistration">
          <button class="anchor2">Create New Employee</button></a
        >

        <br>
        <br>
         
         
        <br>
        <br>
        <a routerLink="/userRegistration">
          <button class="anchor3">Create New Account</button></a>
        
</div>

</div>