<div class="body">
  <div class= "container" >
    
    <div class="card">
      <h2>LOGIN</h2>
      <br />
      <br />
      <form #signupForm="ngForm" (ngSubmit)="userLogin(signupForm)">
        <label style="font-size: 30px" for="username">Username: </label>
        <input
          class="anchor1"
          type="text"
          placeholder="User id"
          name="username"
          id="username"
          ngModel
          required
        />
        <br />
        <br />
        <label style="font-size: 30px" for="password">Password: </label>
        <input
          class="anchor2"
          placeholder="Password"
          type="password"
          name="password"
          id="password"
          ngModel
          required
        />
        <br />
        <br />
        <input class="button" type="Submit" id="validate" value="Login" />
        <br />
      </form>
      <a routerLink="/userRegistration">
        <button class="anchor3">Create New Account</button></a
      >
      <div *ngIf="status" style="color: rgb(196, 243, 26)">
        <h3>Welcome!! {{ name }} You Are Successfully Logged In</h3>
      </div>
      <div *ngIf="error" style="color: rgb(196, 243, 26)">
        User Id Or Password Seems Incorrect !
      </div>
    </div>
  </div>
</div>