.body,
.hero-image {
  background-color: grey;
  background-image: url("https://3.imimg.com/data3/XM/QN/MY-9237150/employee-management-system-500x500.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
.card {
  height: 350px;
  width: 350px !important;
  display: inline-block;
}
.card {
  background: linear-gradient(150deg, #25a167, #23c4a1 100%);
  position: relative;
  margin: 0.5rem 0 1rem 0;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
  margin-left: 15px;
}
.button {
  width: 150px;
  display: block;
  margin: 0 auto;
  color: #4600f1;
  border-radius: 50px;
  padding: 1em;
  background: white;
  border: none;
  font-weight: bold;
}
.anchor1 {
  background-color: white;
  border: 2px solid #42f4ce;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor1:hover {
  background-color: #42f4ce;
  color: red;
}

.anchor2 {
  background-color: white;
  border: 2px solid #b0f0f2;
  border: radius 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor2:hover {
  background-color: #42f4ce;
  color: red;
}