<div class="body">
  <div style="color: white" align="right">
    <h4 align="right">
      <br />
      <a style="color: green" href="/userLogin"><button>Log out</button> </a>
    </h4>
  </div>
  <div align="center">
    <h1 style="color: red">Employee MANAGEMENT SYSTEM</h1>
    <br />
    <br />
    <br /><br />
    <input
    class="anchor1"
    type="button"
    value="Find Employee by Name "
    (click)="allemployee()"
  />
    <!-- <input
      class="anchor1"
      type="button"
      value="Find Employee by Name "
      (click)="employeenamestatus()"
    />
    <br /><br />
    

    <input
      class="anchor2"
      type="button"
      value="Search By Author"
      (click)="bookauthorstatus()"
    />
    <br />
    <br />
  -->
    <!--<div *ngIf="authorstatus" id="au">
      <form #form2="ngForm" (ngSubmit)="showBookByAuthor(form2)">
        <label for="author"></label>

        <input name="author" required ngModel type="text" id="author " />

        <input class="button" type="Submit" value="Search" />
      </form>
    </div>
    <br />
    <br />
    <input
      class="anchor3"
      type="button"
      value="Search By Category"
      (click)="bookcatstatus()"
    />
    <br />
    <br />
    <div *ngIf="catstatus" id="cat">
      <form #form3="ngForm" (ngSubmit)="showBookByCategory(form3)">
        <label for="category"></label>

        <input name="category" required ngModel type="text" id="category" />

        <input class="button" type="Submit" value="Search" />
      </form>
    </div>
    <br />
    <br />
  </div>-->
</div>
