html,
.body {
  margin: 0;
  padding: 0;
}

.body {
  background-color: grey;
  background-image: url("https://miro.medium.com/max/1400/1*Bhy1_Q8Zo8Y9kTwslMP-9A.jpeg");
}

.anchor1 {
  background-color: white;
  border: 2px solid #42f4ce;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor1:hover {
  background-color: #42f4ce;
  color: red;
}

.anchor2 {
  background-color: white;
  border: 2px solid #b0f0f2;
  border: radius 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor2:hover {
  background-color: #42f4ce;
  color: red;
}

.anchor3 {
  background-color: white;
  border: 2px solid #ead2f2;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor3:hover {
  background-color: #42f4ce;
  color: red;
}
