<div class="html">
  <div class="body">
    
    <div class="container" >
    <h1 style="color: red">User Registration</h1>
    <form (ngSubmit)="onSubmit()" #UserRegistration="ngForm">
      <div class="form-group">
        <label for="userid" style="color:blue">UserId</label>
        
        <input
          type="text"
          [(ngModel)]="user.userid"
          class="form-control"
          id="userid"
          name="userid"
          placeholder="Enter your userid"
          required
          #userid="ngModel"
        />
        <br />
    <br />
      </div>
      <div class="form-group">
        <label for="fname" style="color:blue">First Name</label>
        <input
          type="text"
          [(ngModel)]="user.first"
          class="form-control1"
          id="fname"
          name="fname"
          placeholder="Enter your fname"
          required
          #fname="ngModel"
        >
      </div>
      <div [hidden]="!fname.pristine" class="alert-danger">
        firstname is required
      </div>
      <div class="form-control2">
        <label for="lname" style="color:blue">Last Name</label>
        <input
          type="text"
          [(ngModel)]="user.last"
          class="form-control"
          id="lname"
          name="lname"
          placeholder="Enter your lname"
          required
          #lname="ngModel"
        >
      </div>
      <div [hidden]="!lname.pristine" class="alert-danger">
        lastname is required
      </div>
      <div class="form-control3">
        <label for="email" style="color:blue">Email</label>
        <input
          type="text"
          [(ngModel)]="user.email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required
          #email="ngModel"
        />
        <div [hidden]="!email.pristine" class="alert-danger">
          Email is required
        </div>
      </div>
      <div class="form-control4">
        <label for="phone number" style="color:blue">Phone Number</label>
        <input
          type="text"
          [(ngModel)]="user.phone"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Enter your phone number"
          required
          #phone="ngModel"
        />
      </div>
      <div class="form-control4">
        <label for="password" style="color:blue">Password</label>
        <input
          type="text"
          [(ngModel)]="user.password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
          required
          #password="ngModel"
        />
      </div>
      <div class="form-control5">
        <label for="confirm password" style="color:blue">Confirm Password</label>
        <input
          type="text"
          class="form-control"
          id="confirm password"
          name="confirm password"
          placeholder="Enter confirm password"
          required
          #confirm
          password="ngModel"
        >
      </div>
      <div class="form-control6" style="color:blue">
        <label for="address">Address</label>
        <input
          type="text"
          [(ngModel)]="user.address"
          class="form-control"
          id="address"
          name="address"
          placeholder="Enter your address"
          required
          #address="ngModel"
        />
      </div>
      <button
        type="submit"
        [disabled]="!UserRegistration.form.valid"
        class="btn btn-info">
        Submit
      </button>
      <button (click)="gotoLogInPage()">
        Login
      </button>
    </form>
  </div>
  </div>
</div>